<div class="container">
  <header class="header">
    <div class="head-wrapper">
      <div class="table-cell float-right"><span class="profile">S</span></div>
      <div class="table-cell"><img class="ns-logo" src="../assets/ns-logo.png" alt=""><span
          class="logo-text">Dashboard</span></div>

    </div>
  </header>
  <section>
    <div class="content-inner">
      <div>
        <input type="text" class="search-box" placeholder="Search by cource.......">
      </div>
      <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dignissimos consequuntur animi similique,
        </p>
        <button class="leran-more-link">Learn more here</button>
      </div>
      <div>
        <div class="headeing">
          <h2>Mycources</h2> <span>view all</span>
          <div class="clear-float"></div>
        </div>
        <div class="over-flow-div">
          <ul class="card-list">
            <li>
              <div>
                <h3>Array and treess</h3>
                <img src="../assets/Course Gif.gif" alt="">
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <img src="../assets/Course Gif.gif" alt="">
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <img src="../assets/Course Gif.gif" alt="">
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <img src="../assets/Course Gif.gif" alt="">
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
            <li>
              <div>
                <h3>Array and treess</h3>
                <p>jeseph sir</p>
                <button>read more</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <ul class="footer-list">
      <li><button><img src="../assets/akar-icons_home.png" alt=""><span>Dashboard</span></button></li>
      <li><button><img src="../assets/akar-icons_search.png" alt=""><span>Discover</span></button></li>
      <li><button><img src="../assets/akar-icons_person.png" alt=""><span>Profile</span></button></li>
    </ul>

  </footer>
</div>
