/* You can add global styles to this file, and also import other style files */
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  padding: 0;
  margin: 0;
  background: #1c1e1e;
  font-family: 'Inter var', sans-serif;
  color: #fff;

}

ul {
  margin: 0;
  padding: 0;
}
